%form(action="/login" method="post")
  %input(placeholder="Email" type="text" name="beekeeper[email]")
  %input(placeholder="Password" type="password" name="beekeeper[password]")
  %input(type="submit" value="Login")
