-if flash[:errors]
  #flash.flash-red
    %ul
      -flash[:errors].messages.each do |attribute, value|
        %li= "#{attribute.to_s.capitalize} #{value.join(" and ")}"
.signup-container
  .signup-message
    Join HiveMind
    %br
    %span
      Access all the buzz with a free account
  %form.signup-form.flex-container{action: "/beekeepers", method: "post" }
    %input#username{ placeholder: "Username",
      name: "beekeeper[username]",
      type: "text",
      autofocus: "true" }
    %input#email{ placeholder: "Email",
      name: "beekeeper[email]",
      type: "email"}
    %input#password{ placeholder: "Password",
      name: "beekeeper[password]",
      type: "password"}
    .custom-signup-select
      %select#experience{ name: "beekeeper[experience]"}
        %option{ select: "selected", value: "" }
          Experience level
        %option{ value: "novice"}
          Novice
        %option{ value: "apprentice"}
          Apprentice
        %option{ value: "journeyman"}
          Journeyman
        %option{ value: "master"}
          Master
    %input#city{ placeholder: "City",
      name: "beekeeper[location]",
      type: "text"}
    %input.signup-button{ type: "submit", value: "Signup"}
