#profile-info.flex-container
  %div
    %h1 #{@beekeeper.username}'s Profile
    .beekeeper-details
      %ul
        %li #{@beekeeper.experience} beekeeper
        %li Located in #{@beekeeper.location.capitalize}
      
