<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>HiveMind</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script defer="defer" src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/normalize.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
  </head>
  <body>
    <header>

      <nav class="flex-container nav-flex">
        <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fas fa-bars"></i>
        </span>
        <img class="logo" src="/images/food.png" alt="HiveMind logo"/>
        <ul class="flex-container nav-start main-nav js-menu ">

          <li class="nav-items-left">
            <a href="#">News</a>
          </li>
          <li class="nav-items-left">
            <a href="/search">Near you</a>
          </li>
          <li class="nav-items-left">
            <a href="#">About</a>
          </li>
        </ul>
        <!-- These will be pofile and sign out buttons -->

        <ul class="flex-container nav-end main-nav js-menu">
          <% if logged_in? %>
            <li class="nav-items-right"><a href="/beekeepers/<%= current_user.username %>">Profile</a></li>
            <li class="nav-items-right">
              <form id="logout-form" action="/logout" method="post">
                <input id="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" value="Log Out">
              </form>
            </li>
          <% else %>
            <li class="nav-items-right"><a href="/login">Login</a></li>
            <li class="nav-items-right"><a href="/signup">Signup</a></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <div class="main-wrapper">

      <%= yield %>

      <footer class="branding">
        <small>&copy; 2019
          <strong>HiveMind</strong>
        </small>
      </footer>
    </div>
    <script src="javascripts/index.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </body>
</html>
