<h1>Beekeepers</h1>

<% if @beekeepers.empty? %>
  <p>No beekeepers at the moment :(</p>
<% else %>
  <% @beekeepers.each do |beekeeper| %>
    <div>
      <li><%= beekeeper.name %></li>
    </div>
  <% end %>
<% end %>
